body {
    color: #222222;
    text-align: center;
    font-family: "Roboto", "Helvetica", sans-serif;
    background: #333333;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    margin: 0 auto;
}

header{
    background: darkblue;
    color: white;
    padding: 20px;
}